.story-card {
  width: 500px;
  height: 400px;
}

.story-card-image {
  width: 100%;
  height: 350px;
  background-image: url('https://images.unsplash.com/photo-1511994298241-608e28f14fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.story-card-heading {
  width: 100%;
  height: 50px;
}

.story-card-heading > h4 {
  height: 50px;
  padding: 0;
  margin: 0;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(50, 60, 60);
}

.article {
  background-color: rgb(50, 60, 60);
}

.article p {
  text-align: justify;
  color: rgb(150, 150, 150);
}

.article:hover {
  cursor: pointer;
  background-color: rgb(20, 30, 30);
}