.banner {
    width: 100vw;
    height: 450px;
    background-image: url('https://i.ibb.co/WBWFZ3c/snow-g049523c26-1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}