.dashboard-container {
    display: block;
    width: 100vw;
    height: calc(100vh - 58px);
    padding: 0 0 10 0;
}

.custom-nav {
    display: block;
    width: 250px;
    height: 100%;
    float: left;
}

.custom-routes {
    display: block;
    width: calc(2*50% - 250px);
    height: 100%;
    float: left;
}